# Dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
build/
coverage/

# Logs
logs/
*.log

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# misc
.eslintcache

# testing
coverage

# mobile app
mobile-app/node_modules/
mobile-app/ios/
mobile-app/android/
mobile-app/.expo/
mobile-app/.jest-cache/
mobile-app/npm-debug.log*
mobile-app/yarn-debug.log*
mobile-app/yarn-error.log*

backend/db.json
